configuration {
  show-icons:         true;
  icon-theme:         "Paper";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    true;
  modi:               "window,drun";
  display-drun:       "apps";
  columns: 3;
}
