[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh/master
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = /home/rick/.oh-my-zsh
