/**
 * Allows to change the settings of every menu simply by editing this file
 */
@import "~/.config/rofi/themes/shared/colorschemes/pacific.rasi"
@import "resolutions/1920x1080.rasi"

#window {
  width: 50%;
  height: 50%;
}

