/********************************
    Material Theme Imports
********************************/


@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";


/********************************
    Personal Changes
********************************/

/* Show tab bar
.tabbrowser-tab:not(:hover) .tab-close-button{ display:none; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ display:block !important; }

.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab:hover  .tab-throbber,
.tabbrowser-tab:hover  .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover  .tab-icon-overlay,
.tabbrowser-tab:hover  .tab-label-container,
.tabbrowser-tab:hover  .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}
*/

/* Hide tab bar */
#TabsToolbar {
visibility:collapse;
}


/* Reveal toolbar buttons when user hovers */
:root:not([customizing]) #nav-bar toolbarbutton {
  margin-left: -28px !important;
  opacity: 0 !important;
  transform: scale(.85, .85) !important;
  pointer-events: none !important;
  transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
  transform: scale(1, 1) !important;
  opacity:1 !important;
  margin-left:0 !important;
  pointer-events: auto !important;
}

/* Hide Tree Style Tab text */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}