window-open{

  duration-ms 400
  curve "ease-out-quad"

  custom-shader r"

    vec4 scale_and_fade_in(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      float scale = max(0.0, (progress * 0.75) + 0.25);

      vec2 coords = coords_geo.xy;

      vec2 center = vec2(0.5);

      // Scaling logic
      coords -= center;
      coords /= scale;
      coords += center;

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window opaque ( for fade in effect )
      color *= progress;

      return color;
    }

    vec4 open_color(vec3 coords_geo, vec3 size_geo) {
      return scale_and_fade_in(coords_geo, size_geo);
    }

  "
}

window-close{

  duration-ms 400
  curve "linear"

  custom-shader r"

    vec4 scale_and_fade_out(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      float reverse_progress = 1.0 - progress;

      float scale = max(0.0, (reverse_progress * 0.75) + 0.25);

      vec2 coords = coords_geo.xy;

      vec2 center = vec2(0.5);

      // Scaling logic
      coords -= center;
      coords /= scale;
      coords += center;

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window transparent ( for fade out effect )
      color *= reverse_progress;

      return color;
    }

    vec4 close_color(vec3 coords_geo, vec3 size_geo) {
      return scale_and_fade_out(coords_geo, size_geo);
    }

  "
}
