window-open{

  duration-ms 500
  curve "ease-out-quad"

  custom-shader r"

    #define PI 3.14159265359

    mat2 rotation_matrix(float angle) {

      float cos_a = cos(angle);
      float sin_a = sin(angle);

      mat2 rm = mat2(
        cos_a, -sin_a,
        sin_a, cos_a
      );

      return rm;
    }

    vec4 rotate_scale_fade_in(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      float scale = max(0.0, (progress * 0.75) + 0.25);

      float angle = 2.0 * PI * progress;

      mat2 rotate = rotation_matrix(angle);

      vec2 coords = coords_geo.xy;

      vec2 center = vec2(0.5);

      coords -= center;
      coords = rotate * coords;  // Rotate
      coords /= scale;
      coords += center;

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window opaque ( for fade in effect )
      color *= progress;

      return color;
    }

    vec4 open_color(vec3 coords_geo, vec3 size_geo) {
      return rotate_scale_fade_in(coords_geo, size_geo);
    }

  "
}

window-close{

  duration-ms 500
  curve "linear"

  custom-shader r"

    #define PI 3.14159265359

    mat2 rotation_matrix(float angle) {

      float cos_a = cos(angle);
      float sin_a = sin(angle);

      mat2 rm = mat2(
        cos_a, -sin_a,
        sin_a, cos_a
      );

      return rm;
    }

    vec4 rotate_scale_fade_out(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      float reverse_progress = 1.0 - progress;

      float scale = max(0.0, (reverse_progress * 0.75) + 0.25);

      float angle = 2.0 * PI * reverse_progress;

      mat2 rotate = rotation_matrix(angle);

      vec2 coords = coords_geo.xy;

      vec2 center = vec2(0.5);

      coords -= center;
      coords = rotate * coords;  // Rotate
      coords /= scale;
      coords += center;

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window transparent ( for fade out effect )
      color *= reverse_progress;

      return color;
    }

    vec4 close_color(vec3 coords_geo, vec3 size_geo) {
      return rotate_scale_fade_out(coords_geo, size_geo);
    }

  "
}
