[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=JD-GUI
Categories=Development;
Type=Application
StartupNotify=true
Exec=env _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel' jd-gui