[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Reaper
Categories=audiovideo;
Type=Application
StartupNotify=true
Exec=env STAGING_RT_PRIORITY_SERVER=95 STAGING_RT_PRIORITY_BASE=15 chrt -f 50 wine ~/.wine/drive_c/Program\ Files/REAPER\ \(x64\)/reaper.exe
