[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=REAPER
Comment=REAPER
Categories=Audio;Video;AudioVideo;AudioVideoEditing;Recorder;
Exec=env STAGING_RT_PRIORITY_SERVER=95 STAGING_RT_PRIORITY_BASE=15 chrt -f 50 "/opt/REAPER/reaper" %F
Icon=cockos-reaper
MimeType=application/x-reaper-project;application/x-reaper-project-backup;application/x-reaper-theme
StartupWMClass=REAPER
