// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
// Open dms windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}
// Browsers
window-rule {
    match app-id="brave-browser"
    open-maximized true
    open-on-workspace "browser"
}

window-rule {
    match app-id="Tor Browse"
    open-maximized true
    open-on-workspace "browser"
}

window-rule {
    match app-id="Firefox Beta"
    open-maximized true
    open-on-workspace "browser"
}

window-rule {
    match app-id="kitty" title="rmpc"
    open-floating true
    open-on-workspace "music"
}

window-rule {
    match app-id="org.gnome.FileRoller"
    match app-id="Gtick"
    match app-id="Bitwarden"
    match app-id="lxappearance"
    match app-id="arandr"
    match app-id="com.libretro.RetroArch"
    match app-id="gpartedbin"
    match app-id="nwg-look"
    open-floating true
}
window-rule {
    match app-id="^floating-term$"
    open-floating true
}
