"*":
  "atom-material-ui":
    colors:
      abaseColor: "#004c46"
      accentColor: "#650008"
      genAccent: true
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "wrap-guide"
      "about"
      "bookmarks"
      "background-tips"
      "language-clojure"
      "language-mustache"
      "language-sass"
      "language-toml"
      "metrics"
      "spell-check"
      "welcome"
      "grammar-selector"
      "timecop"
      "exception-reporting"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Inconsolata Regular"
    fontSize: 15
    invisibles: {}
    scrollSensitivity: 100
  "exception-reporting":
    userId: "f1c7e011-796b-a89d-169a-17f103226992"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "ea8c3a29-9027-4e57-be24-a70e9f32466d"
    remoteInteractions:
      promptForBranch: true
  "open-file-in":
    applications: "sunflower"
  "open-in":
    applications: "sunflower"
  "project-manager": {}
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  tabs:
    enableVcsColoring: true
  "tree-view-git-status":
    autoToggle: false
  welcome:
    showOnStartup: false
