"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "wrap-guide"
      "about"
      "bookmarks"
      "background-tips"
      "language-clojure"
      "language-mustache"
      "language-sass"
      "language-toml"
      "metrics"
      "spell-check"
      "welcome"
      "grammar-selector"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Anonymous Pro"
    invisibles: {}
    scrollSensitivity: 50
  "exception-reporting":
    userId: "f1c7e011-796b-a89d-169a-17f103226992"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "ea8c3a29-9027-4e57-be24-a70e9f32466d"
  "open-file-in":
    applications: "sunflower.desktop"
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  tabs:
    enableVcsColoring: true
  "tree-view-git-status":
    autoToggle: false
  welcome:
    showOnStartup: false
