window-open{

  duration-ms 400
  curve "ease-out-quad"

  custom-shader r"

    vec4 horizontal_ribbons(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      vec2 coords = coords_geo.xy;

      // Random number of ribbons between 10 and 30
      float ribbon_count = 10.0 + (niri_random_seed/5.0) * 100.0;

      float ribbon_index = floor(coords.y * ribbon_count);

      // Alternate direction of neighbouring ribbons
      // Ribbons with even index go in one direction and odd index go opposite
      float direction = mod(ribbon_index, 2.0) == 0.0 ? -1.0 : 1.0;

      coords.x += direction * (1.0 - progress);

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window opaque ( for fade in effect )
      color *= progress;

      return color;
    }

    vec4 open_color(vec3 coords_geo, vec3 size_geo) {
      return horizontal_ribbons(coords_geo, size_geo);
    }

  "
}

window-close{

  duration-ms 400
  curve "linear"

  custom-shader r"

    vec4 horizontal_ribbons_out(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      float reverse_progress = 1.0 - progress;

      vec2 coords = coords_geo.xy;

      float ribbon_count = 10.0 + (niri_random_seed/5.0) * 100.0;

      float ribbon_index = floor(coords.y * ribbon_count);

      float direction = mod(ribbon_index, 2.0) == 0.0 ? -1.0 : 1.0;

      coords.x += direction * (1.0 - reverse_progress);

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window transparent ( for fade out effect )
      color *= reverse_progress;

      return color;
    }

    vec4 close_color(vec3 coords_geo, vec3 size_geo) {
      return horizontal_ribbons_out(coords_geo, size_geo);
    }

  "
}
