window-open{

  duration-ms 400
  curve "ease-out-quad"

  custom-shader r"

    vec4 ribbon_grid(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      vec2 coords = coords_geo.xy;

      float ribbon_count = 10.0 + (niri_random_seed/5.0) * 100.0;

      float ribbon_index_x = floor(coords.y * ribbon_count);
      float direction_x = mod(ribbon_index_x, 2.0) == 0.0 ? -1.0 : 1.0;

      coords.x += direction_x * (1.0 - progress);

      float ribbon_index_y = floor(coords.x * ribbon_count);
      float direction_y = mod(ribbon_index_y, 2.0) == 0.0 ? -1.0 : 1.0;

      coords.y += direction_y * (1.0 - progress);

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window opaque ( for fade in effect )
      color *= progress;

      return color;
    }

    vec4 open_color(vec3 coords_geo, vec3 size_geo) {
      return ribbon_grid(coords_geo, size_geo);
    }

  "
}

window-close{

  duration-ms 400
  curve "linear"

  custom-shader r"

    vec4 ribbon_grid_out(vec3 coords_geo, vec3 size_geo) {

      float progress = niri_clamped_progress;

      float reverse_progress = 1.0 - progress;

      vec2 coords = coords_geo.xy;

      float ribbon_count = 10.0 + (niri_random_seed/5.0) * 100.0;

      float ribbon_index_x = floor(coords.y * ribbon_count);
      float direction_x = mod(ribbon_index_x, 2.0) == 0.0 ? -1.0 : 1.0;

      coords.x += direction_x * (1.0 - reverse_progress);

      float ribbon_index_y = floor(coords.x * ribbon_count);
      float direction_y = mod(ribbon_index_y, 2.0) == 0.0 ? -1.0 : 1.0;

      coords.y += direction_y * (1.0 - reverse_progress);

      if (coords.x < 0.0 || coords.x > 1.0 || coords.y < 0.0 || coords.y > 1.0) {
        return vec4(0.0);
      }

      vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
      vec4 color = texture2D(niri_tex, coords_tex.st);

      // Make window transparent ( for fade out effect )
      color *= reverse_progress;

      return color;
    }

    vec4 close_color(vec3 coords_geo, vec3 size_geo) {
      return ribbon_grid_out(coords_geo, size_geo);
    }

  "
}
